<table id="table_<%= table_name %>" class="table_<%= table_type %>">
  <!-- Header Row -->
  <thead>
    <tr>
      <%- model.columns.each do |col| -%>
      <th abbr="<%= col %>" width="<%= column_width(model, col) %>"><%= underscored_to_human_readable(col) %></th>
      <%- end -%>
    </tr>
  </thead>

  <!-- Data Rows -->
  <tbody>
  </tbody>
</table>