<h1>Edit <%= @model.to_s %></h1>

<form name="edit_<%= @model.to_s.downcase %>" action="<%= active_admin_url_with_id(:update, params[:id]) %>" method="post">
  <table class="active_admin_object_form">
    <%- @model.columns.reject{ |c| @model.primary_key == c }.each do |col| -%>
    <tr>
      <td class="active_admin_object_key" valign="top">
        <%= underscored_to_human_readable(col) %>
      </td>
      <td class="active_admin_object_value" valign="top">
        <%- case column_type(@model, col) -%>
        <%- when :integer -%>
          <input type="text" name="object[<%= col %>]" value="<%= @object.send(col) %>" size="5">
        <%- when :string -%>
          <input type="text" name="object[<%= col %>]" value="<%= @object.send(col) %>" size="20">
        <%- when :text -%>
          <textarea name="object[<%= col %>]" rows="8" cols="20"><%= @object.send(col) %></textarea>
        <%- else -%>
          <input type="text" name="object[<%= col %>]" value="<%= @object.send(col) %>" size="20">
        <%- end -%>
      </td>
    </tr>
    <%- end -%>
  </table>
  <div class="active_admin_submit"><input type="submit" name="submit" value="Save" ></div>
</form>

<%- throw_content :for_sidebar do -%>
<div class="sidebar_top">
  <dl class="sidebar_bottom">
    <dt>Actions</dt>
    <dd><a href="#" onclick="history.go(-1); return false">Cancel</a></dd>
  </dl>
</div>
<%- end -%>
