<!-- Show the main data table for this model -->
<%= active_admin_partial :list_main,
      :name     => @model.table_name,
      :model    => @model,
      :data_url => active_admin_url(:list_data)
%>

<div class="associated_tables">
<!-- Show data tables for each associated model (one_to_many, many_to_many) -->
<%-
# :type=>:many_to_many, :name=>:semesters, :block=>nil, :left_key=>:user_id, :join_table=>:enrollments, :right_key=>:semester_id, :class_name=>"Enrollment"}
  @model.associations.each do |assoc|
    reflect = @model.association_reflection(assoc)

    # Get the actual ruby class of the associated data
    begin
      associated_model = reflect[:class_name].constantize
    rescue NameError => e
      puts "NameError: #{e}"
      concat "<p>No model for <em>#{reflect[:class_name]}</em> (#{reflect[:type]})</p>", binding
    end

    case reflect[:type]
    when :many_to_one
      single =
        active_admin_partial :single_association,
          :main_model       => @model,
          :associated_model => associated_model,
          :association_name => reflect[:name]
      concat single, binding
    when :one_to_many, :many_to_many
      table =
        active_admin_partial :list_association,
          :main_model       => @model,
          :associated_model => associated_model,
          :association_name => reflect[:name]
      concat table, binding
    else
      concat "Association: #{reflect[:name]} of type #{reflect[:type]} not shown"
    end
  end
-%>
</div>

<%- throw_content :for_head do -%>
  <script type="text/javascript" charset="utf-8">
    var controller = "<%= controller_for_model( @model ) %>";
  </script>
  <script
    src="<%= active_admin_file_url("flexigrid/flexigrid.js") %>"
    type="text/javascript" charset="utf-8"></script>
  <script
    src="<%= active_admin_javascript_url("list_helpers") %>"
    type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet"
    href="<%= active_admin_stylesheet_url("flexigrid") %>"
    type="text/css" media="screen" title="Flexigrid CSS" charset="utf-8">
<%- end -%>

<!-- Facebox Dialogs -->
<div id="confirm_delete_rows_box" class="dialog" style="display:none">
  Are you sure you want to delete the row(s)?
  <div class="footer">
    <!-- <a href="#" class="close">&nbsp;</a> -->
    <a href="#" onclick="$(document).trigger('close.facebox'); deleteSelectedRows(faceboxTableName); return false">Yes, Delete</a> |
    <a href="#" onclick="$(document).trigger('close.facebox'); return false">Cancel</a>
  </div>
</div>
