<h1>
  <div class="list_header_button"><a href="#" onclick="confirmDelete(); return false">Delete</a></div>
  <div class="list_header_button"><a href="#" onclick="editSelectedRow(); return false">Edit</a></div>
  <div class="list_header_button"><a href="<%= active_admin_url(:new) %>">New <%= @model.to_s %></a></div>
  <%= @model.to_s %> List
</h1>

<div id="delete-box" class="dialog" style="display:none">
  Are you sure you want to delete the row(s)?
  <div class="footer">
    <!-- <a href="#" class="close">&nbsp;</a> -->
    <a href="#" onclick="$(document).trigger('close.facebox'); deleteSelectedRows(); return false">Yes, Delete</a> |
    <a href="#" onclick="$(document).trigger('close.facebox'); return false">Cancel</a>
  </div>
</div>

<%- if @objects.empty? -%>
  <h2>Nothing to show</h2>
<%- else -%>
  <table class="listing">
    <!-- Header Row -->
    <thead>
      <tr>
        <%- @model.columns.each do |col| -%>
        <th abbr="<%= col %>" width="<%= col.to_s == "id" ? 35 : 100 %>"><%= humanize(col) %></th>
        <%- end -%>
      </tr>
    </thead>

    <!-- Data Rows -->
    <tbody>
      <%- @objects.each do |o| -%>
      <tr>
        <%- @model.columns.each do |col| -%>
        <td><%= o.send(col) %></td>
        <%- end -%>
      </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>

<%- throw_content :for_head do -%>
  <script src="<%= active_admin_file_url("flexigrid/flexigrid.js") %>" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="<%= active_admin_stylesheet_url("flexigrid") %>" type="text/css" media="screen" title="Flexigrid CSS" charset="utf-8">
<%- end -%>

<script type="text/javascript" charset="utf-8">
  $(".listing").flexigrid({
    height:        'auto',
    stripe:        true,
    showToggleBtn: false,
    autoload:      true,
    
    usepager:      true,
    page:          <%= @paginated.current_page %>,
    total:         <%= @paginated.page_count %>,
    rp:            <%= params[:per_page] || 15 %>,
    
    url:           "<%= active_admin_url(:list_data) %>",
    dataType:      "json",

    sortname:      "id",
    sortorder:     "asc"
  });

  function getSelectedIDs() {
    var ids = [];
    $(".trSelected").each(function(i, row) {
      var match = row.id.match(/row(\d+)/)
      if( match ) ids.push(match[1]);
    });
    return ids;
  }
  
  function confirmDelete() {
    var ids = getSelectedIDs();
    if( ids.length == 0 ) {
      $.facebox("Select one or more rows to delete, then click this 'Delete' button.");
    } else {
      $.facebox($('#delete-box'));
    }
  }
  
  function deleteSelectedRows() {
    var ids = getSelectedIDs();
    $.post("<%= active_admin_url(:destroy) %>/" + ids.join(","), null, null, "json");
    $(".listing").flexReload();
  }
  
  function editSelectedRow() {
    var ids = getSelectedIDs();
    if( ids.length == 0 ) {
      $.facebox("Select a row to edit, then click this 'Edit' button.");
    } else if( ids.length == 1 ) {
      window.location = "<%= active_admin_url(:edit) %>/" + ids[0];
    } else {
      $.facebox("More than one row has been selected.  Just pick one row and then click this 'Edit' button.");
    }
  }
</script>