<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>Merb ActiveAdmin</title>
    <link href="<%= active_admin_stylesheet_url("merb") %>" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= active_admin_stylesheet_url("facebox") %>" media="screen" rel="stylesheet" type="text/css" />
    <script src="<%= active_admin_file_url("jquery-1.2.3.js") %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= active_admin_file_url("facebox/facebox.js") %>" type="text/javascript" charset="utf-8"></script>
    <%= catch_content :for_head %>
  </head>
  <body>
    <div id='header'>
      <div class='wrap_to_center'>
        <div id='logo'>
          <img alt="Merb ActiveAdmin" src="<%= active_admin_file_url("header_logo.png") %>" />
        </div>
        <ul id='nav'>
          <li><a href="<%= active_admin_home_url %>" <%= @model.nil? ? "id=\"active\"" : ""%>>Home</a></li>
          <%- p(im = Merb::Plugins.config[:merb_active_admin][:header_models]) -%>
          <%- for model in im -%>
          <li><a href="<%= active_admin_url(:list, model) %>" <%= @model.to_s == model.to_s ? "id=\"active\"" : ""%>><%= model.to_s %></a></li>
          <%- end -%>
        </ul>
      </div>
    </div>
    <div id='content'>
      <div class='wrap_to_center'>
        <div id="content_top">
          <div id="content_bottom">
            <%- sidebar = catch_content :for_sidebar -%>
            <div id="content_main" style="<%= sidebar ?  "" : "width:760px" %>">
            <%= catch_content :for_layout %>
            </div>
            <div id="content_sidebar">
              <%= sidebar %>
            </div>
          </div>
        </div>
      </div>
      <div id='footer'>
        <div class='wrap_to_center'>
            <p>
              &copy; 2008, Ezra Zygmuntowicz, Duane Johnson | Merb ActiveAdmin is released under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a>
            </p>
        </div>
      </div>
    </div>
  </body>
</html>